<div class="today-bills">
    <div class="bills-box">
        <ul>
            <li *ngFor="let l of lists">{{l}}</li>
        </ul>
        
        <p class="notek-btn-group notek-btn-group-rim">
            <button (click)="addContent()" class="notek-btn notek-btn-danger">添加</button>
            <button class="notek-btn notek-btn-primary">编辑</button>
            <button (click)="deleteContent()" class="notek-btn notek-btn-peril">删除</button>
        </p>
        <!-- <p>
            <button class="notek-btn">常规默认按钮</button>
            <button class="notek-btn notek-btn-primary">常规主要按钮</button>
            <button class="notek-btn notek-btn-danger">常规警告按钮</button>
            <button class="notek-btn notek-btn-success">常规成功按钮</button>
            <button class="notek-btn notek-btn-peril">常规错误按钮</button>
            <button class="notek-btn notek-btn-tradition">常规传统按钮</button>
        </p>
        <p>
            <button class="notek-btn notek-btn-slim">纤细默认按钮</button>
            <button class="notek-btn notek-btn-primary notek-btn-slim">纤细主要按钮</button>
            <button class="notek-btn notek-btn-danger notek-btn-slim">纤细警告按钮</button>
            <button class="notek-btn notek-btn-success notek-btn-slim">纤细成功按钮</button>
            <button class="notek-btn notek-btn-peril notek-btn-slim">纤细错误按钮</button>
            <button class="notek-btn notek-btn-tradition notek-btn-slim">纤细传统按钮</button>
        </p>
        <p>
            <button class="notek-btn notek-btn-big">大号默认按钮</button>
            <button class="notek-btn notek-btn-sm">小号默认按钮</button>
            <button class="notek-btn notek-btn-disabled">禁用按钮</button>
            <button class="notek-btn notek-btn-disabled notek-btn-slim">纤细禁用按钮</button>
        </p>
        <p class="notek-btn-group">
            <button class="notek-btn notek-btn-primary">编辑</button>
            <button class="notek-btn notek-btn-peril">删除</button>
            <button class="notek-btn notek-btn-success">添加</button>
        </p>
        <p class="notek-btn-group notek-btn-group-rim">
            <button class="notek-btn notek-btn-primary">编辑</button>
            <button class="notek-btn notek-btn-primary">删除</button>
            <button class="notek-btn notek-btn-primary">添加</button>
        </p>
        <p class="notek-btn-group notek-btn-group-vertical">
            <button class="notek-btn notek-btn-primary">垂直按钮演示</button>
            <button class="notek-btn notek-btn-primary">垂直按钮演示</button>
            <button class="notek-btn notek-btn-primary">垂直按钮演示</button>
        </p> -->
    </div>
</div>