body {
    margin: 0;
}

body, 
html {
    font-size: 14px;
    min-height: 100%;
    color: #555!important;
    text-rendering: geometricPrecision;
    font-family: Helvetica Neue,Helvetica,Tahoma,lantinghei sc,Hiragino Sans GB,Microsoft YaHei,sans-serif!important;
}

a {
    text-decoration: none;
}
a:hover {
    transition: all .3s;
}

ul {
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

