.notek-dialog {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .3);
}

.notek-dialog-ipt.error {
    border-color: #f86641;
}

.notek-dialog-box {
    width: 300px;
    overflow: hidden;
    border-radius: 2px;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
    .notek-dialog-box {
        width: 80%;
    }   
}

.notek-dialog-header {
    line-height: 50px;
    position: relative;
    background-color: #eee;
}
.notek-dialog-header h4 {
    color: #555;
    font-size: 1.25rem;
    font-weight: normal;
    padding: 0 1.125rem;
}
.notek-dialog-header .notek-dialog-delete {
    top: 0;
    color: #555;
    right: 1.125rem;
    font-size: 1.5rem;
    position: absolute;
}

.notek-dialog-content {
    padding: 1rem;
    overflow: scroll;
    max-height: 800px;
}
@media (max-width: 768px) {
    .notek-dialog-content {
        max-height: 435px;
    }
}
@media (max-width: 1024px) and (min-width: 769px) {
    .notek-dialog-content {
        max-height: 600px;
    }
}
.notek-dialog-content.center {
    text-align: center;
    font-size: 1.125rem;
}
.notek-dialog-content.center i {
    display: block;
    font-size: 26px;
    margin-bottom: 10px;
}
.notek-dialog-content.center i.success {
    color: #0ec596;
}
.notek-dialog-content.center i.failed {
    color: #f86641;
}
.notek-dialog-content.center i.warning {
    color: #dba212;
}

.notek-dialog-footer {
    font-size: 0;
    padding: 1rem;
    text-align: right;
    border-top: 1px solid #eee;
}
.notek-dialog-footer button:first-child {
    margin-right: 10px;
}